*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

body {
  font-weight: 400;
  line-height: 1.75;
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/*
===============
Navbar
===============
*/

nav {
  background: #000000;
  box-shadow: var(--shadow-2);
  line-height: 1;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(to right, #da5f2a, #ce9264);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.logo {
  color: #f6822f;  
  font-size: 2rem;
  font-weight: 700;
}
.logo span {
  background: silver;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.links a {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  display: block;
  color: white;
  padding: 0.75rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: #3d3838;
  color: rgb(222, 205, 205);
  padding-left: 1.5rem;
  transition: 0.3s ease-in-out all;
}
.links {
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 15rem;
}

/* hero section */

.section-1 {
  background-image: url('./Images/section\ 1\ bg.png');
}

.hero img {
  width: 350px;
}

h1 {
  margin-left: 3rem;
  font-size: 2.5rem;
  margin-top: -2rem;
}

.btn {
  text-transform: uppercase;
  background: rgba(152, 172, 202, 0.2);
  padding: 0.5rem;
  border: transparent;
  border-radius: 15px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 7rem;
  cursor: pointer;
}

/* section 2 */

.common-section {
  background: #013473;
  padding: 2rem;
}

.section-center {
  width: 80vw;
  max-width: 1170px;
  padding: 2rem;
  margin: 0 auto;
  border: 2px dotted white;
}
.info {
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

.section-2-btn {
  padding: 0.7rem;
  margin-top: 1rem;
  cursor: pointer;
}

/* section 3 */

.section-3 {
  background: #030d42;
  padding: 1.5rem 2rem;
}

.heading h3 {
  font-size: 2rem;
}
.heading-para {
  font-size: 10px;
  margin-bottom: 2rem;
}

.cards img {
  width: 170px;
  height: 170px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-1 p {
  font-size: 13px;
  line-height: 3rem;
}
.card-4 h4 {
  font-size: 19px;
}
.card-4,
.card-2 p {
  font-size: 11.5px;
  line-height: 3rem;
}

.card-3 p {
  line-height: 2rem;
  font-size: 13px;
}

.card-3 h4 {
  margin-right: 4rem;
}

.card-5 p {
  line-height: 2rem;
  font-size: 11px;
}

/* section 4 */

.divs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.heading h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: rem;
}

.divs div {
  width: 170px;
  height: 100px;
  background: white;
  border-radius: 15px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* responsive  */

@media screen and (min-width: 620px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .hero img {
    width: 450px;
  }
  .divs {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1 {
    margin-left: 10rem;
    font-size: 2.5rem;
    margin-top: -2rem;
  }
  .btn {
    margin-left: 15rem;
    color: white;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding: 2rem;
  }
  h1 {
    font-size: 30px;
    margin-left: 2rem;
  }
  .hero img {
    width: 350px;
  }
  .btn {
    margin-left: 2rem;
  }

  .cards img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (min-width: 860px) {
  h1 {
    font-size: 40px;
    margin-left: 2rem;
    margin-top: -7rem;
  }
  .hero img {
    width: 450px;
    margin-top: -4rem;
  }
  .btn {
    margin-left: 5rem;
  }

  .divs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .cards img {
    width: 400px;
  }
  .cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .section-center {
    width: 90vw;
    max-width: 1170px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dotted white;
  }
  .img {
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 20px;
  }
  .big-img {
    width: 500px;
    display: block;
    object-fit: cover;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 40px;
    margin-right: 10rem;
    margin-top: -10rem;
  }
  .hero img {
    width: 450px;
    margin-top: -4rem;
  }
  .btn {
    margin-left: 8rem;
  }
  .info p {
    width: 85%;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cards img {
    width: 70%;
    height: 70%;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 h4 {
    margin-left: 2rem;
  }

  .card-5 h4 {
    margin-left: 0rem;
    font-size: 15px;
  }
  .divs {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .nav-toggle {
    display: none;
  }
  .logo {
    text-align: center;
    margin-top: 0.7rem;
  }
  .nav-header {
    padding: 0;
  }
  .links {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: -1.2rem;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .divs {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}